:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --color-primary: #ED1A25;
  --color-primary-dark: #C4161C;

  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-heading: var(--white-soft);
  --color-text: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  color: var(--color-heading);
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}