@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: .5rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.5s;
  transform: skew(-10deg);
}

.button p {
  transform: skew(10deg);
  margin: 0;
  font-weight: bold;
}

.button:hover {
  background-color: var(--color-primary-dark);
}

.flex {
  display: flex;
  justify-content: space-between;
}