@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-text {
  font-family: 'Raleway', sans-serif;
}

.slant-glass {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transform: skew(-13deg);
  padding: 1rem;

}

.slant-glass>* {
  transform: skew(13deg);
}